@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --pegasus-color: #4380B8;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif, Helvetica, Arial;
  color: #333;
  line-height: 1.5;
  
  
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 4.5rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

nav a:hover {
  color: #adadad;
}

.navbar .flex {
  justify-content: space-between;
}


.user-details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 ;
  width: 10rem;
} 

.user-details a {
  margin: 0 1em;
  font-weight: bold;
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}


.showcase h1 {
  font-size: 2.5rem;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 2rem;
}

.showcase-form {
  position: relative;
  top: 3.7rem;
  height: 22rem;
  width: 25rem;
  padding: 2.5rem;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 2rem 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 0.1rem solid #b4becb;
  width: 100%;
  padding: 0.2rem;
  font-size: 1rem;
  font-family: inherit;
}

.showcase-form input[type="submit"] {
  font-family: inherit;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: ""; /* this is a compulsory property for this to work */
  position: absolute;
  height: 6.25rem;
  bottom: -4.5rem;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* Stats */
.stats {
  padding-top: 6.25rem;
}

.stats-heading {
  max-width: 32rem;
  margin: auto;
}

.stats .grid h3 {
  font-size: 2rem;
}

.stats .grid p {
  font-size: 1.25rem;
  font-weight: bold;
}

.cli {
  background-color: #f4f4f4;
}

.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  height: 30%;
}

/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

.languages .card {
  text-align: center;
  margin: 1.1rem 0.75rem 2.5rem;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 1.25rem;
  margin-bottom: 0.7rem;
}

.languages .card:hover {
  transform: translateY(-1rem);
}

/* Features */
.features-head img {
  width: 80%;
  height: 80%;
  justify-self: flex-end;
}

.features-main .card > i {
  margin-right: 1.25rem;
}

.features-main .grid {
  padding: 2rem;
}

.features-main .grid > *:first-child {
  grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

/* Docs */
.docs-main h3 {
  margin: 1.25rem 0;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 1rem;
  padding-bottom: 0.3rem;
  margin-bottom: 0.3rem;
  border-bottom: 0.1rem #ccc solid;
}

.docs-main a:hover {
  font-weight: bold;
}

/* Footer */
.footer .social a {
  margin: 0 0.6rem;
}

 .footer .flex > *:first-child,.footer .flex > *:nth-child(2) {
  max-width: 70%;
} 

.footer .flex {
  justify-content: space-between;
  padding-top: 1rem;
}


.footer .flex > *:last-child {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
   min-width: 20em;
}

.footer .flex > *:last-child .notification {
  background-color: var(--pegasus-color);
  color: #fff;
  border-radius: 50%;
  font-weight:  bold;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

@media (max-width: 48rem) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 2.5rem;
  }

  .showcase-form {
    justify-content: center;
    margin: auto;
  }

  .languages .flex {
    flex-wrap: wrap;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
    height: 30%;
  }

  .user-details {
    justify-content: center;
  }
}

@media (max-width: 31.25rem) {
  .navbar {
    height: 7rem;
  }

  .navbar .flex, .pegpay-flex, .pegpay-flex ul {
    flex-direction: column;
  }

  .navbar ul, .pegpay-flex ul {
    padding: 0.6rem;
    background-color: rgba(0, 0, 0, 0.1);
  }

  
}
